[submodule "RedisBloom"]
	path = RedisBloom
	url = https://github.com/RedisBloom/RedisBloom.git
[submodule "RediSearch"]
	path = RediSearch
	url = https://github.com/RediSearch/RediSearch.git
[submodule "RedisJSON"]
	path = RedisJSON
	url = https://github.com/RedisJSON/RedisJSON.git
[submodule "RedisTimeSeries"]
	path = RedisTimeSeries
	url = https://github.com/RedisTimeSeries/RedisTimeSeries.git
[submodule "RedisGraph"]
	path = RedisGraph
	url = https://github.com/RedisGraph/RedisGraph.git
